body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: blue;
}
.d-flex {
  display: flex;
}
main {
  gap: 80 px;
}
section {
  width: 400 px;
}
h1 {
  color: goldenrod;
  text-emphasis-color: 
}
h2 {
  color: darkgoldenrod;
}
p {
  color: aliceblue;
}
nav a {
  color: black;
}
