body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: rgb(32, 32, 105);
}
.d-flex {
  display: flex;
}
main { gap: 80px
}
section { width 400 px;
}
h1 { 
  color: rgb(235, 235, 11);
   ;
}
h2 { color:darkgoldenrod}