body {
  font-style: normal;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  background-color: lightgoldenrodyellow;
}
tbody {
  background-color: black;
}
tr {
  color: white;
}
table{ 
        width:100% ;
     border:-darkgreen ; 
     color :white;
    }
 